@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Gaegu');
@import url('https://fonts.googleapis.com/css?family=Questrial');

$ultra-violet: #6D5B97;
$sparkling-grape: #844981;
$mulberry: #A9729C;
$jacaranda: #868FC6;
$rhapsody: #A28AAA;
$red-violet: #A96483;
$chateau-rose: #D57897;
$prism-pink: #F0A5C6;

// element

body {
  background-color: #5F4B8B;
  color: white;
  font-family: 'Gaegu', cursive;
  margin: 0px;
  padding: 0px;
  // height: 100vh;
}


a{
  color: inherit;
  &:hover{
    color: inherit;
    text-decoration: none;
  }
  &:link{
    color: inherit;
    text-decoration: none;
  }
  &:visited{
    color: inherit;
    text-decoration: none;
  }
  &:active{
    color: inherit;
    text-decoration: none;
  }
}



// class

.button {
  display: inline-block;
  font-family: 'Gaegu', cursive;
  padding: 5px;
  margin: 0px;
  height: 1.5rem;
  line-height: 0.2rem;
}

.radio {
  color: black;
}

.dropdown{
  &-menu{
    top: 1rem;
  }
  &-content {
    margin-left: 8rem;
    background-color: rgba(255,255,255,0.0);
    padding: 0px;
    width: 6rem;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.0), 0 0 0 1px rgba(10, 10, 10, 0.0);
  }
  &-item {
    padding: 0px;
    padding-top: 0.3rem;
    border-width: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    * {
      margin : 0.1rem;
      background-color: rgba(255,255,255,0.5);
    }
  }
}


// skeleton

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &__anchor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-size: 12rem;
    font-family: 'Dancing Script', cursive;
  }
  &__form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    * {
      height: 2rem;
      margin: 0.3rem;
    }
  }
}

.signup__btn{
  position: absolute;
  top: 2rem;
  right: 2rem;
  // font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
}

.index{
  background-color: rgb(133, 133, 133);
  width: 100vw;
  height: 100vh;
  &__anchor{
    &-header{
      padding-left: 2rem;
      padding-right: 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $ultra-violet;
      height: 7rem;
      // border-bottom-color: $prism-pink;
      // border-bottom-width: 0.3rem;
      // border-style: solid;
    }
    &-content{
      background-color: rgb(133, 133, 133);
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      height: calc(100vh - 8rem);
      overflow-y: scroll;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &-footer{
      width: 100vw;
      position: absolute;
      bottom: 0px;
      // border-top-color: $prism-pink;
      // border-top-width: 0.3rem;
      // border-style: solid;
      background-color: #4d4d4d00;
      color: #757575;
      height: 1rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 0.8rem;
      font-family: 'Questrial', sans-serif;
      span {
        margin-right: 2rem;
        margin-bottom: 0.2rem;
      }
    }
  }
}


.header {
  &__btn-container{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: flex-end;
  }
  &__title {
    font-size: 5rem;
    font-family: 'Dancing Script', cursive;
    margin: 1rem;
  }
  &__newCardbox-btn, &__logout-btn {
    margin: 0.2rem;
    justify-self: right;
  }
}

.cardbox{
  &__container {
    min-width: 260px;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    width: 31vw;
    height: 40vh;
    padding: 0.7rem;
    border-radius: 2rem;
    // border-color: $red-violet;
    background-color: #4d4d4d;
    margin: 1rem;
  }
  &__title {
    text-align: center;
    font-size: 2.5rem;
    margin: 0.2rem;
    overflow: hidden;
  }
  &__btn-container{
    width: 100%;
    display: flex;
    margin: 0.2rem;
    justify-content: flex-end;
    * {
      margin: 0.1rem;
    }
  }
  &__update, &__dueDate{
    align-self: flex-end;
    justify-self: flex-end;
  }
}


.content{
  &__body-anchor{
    display: flex;
    flex-wrap: wrap;
  }
  &__header-anchor{
    background-color: antiquewhite;
  }
}

.project{
  background-color: $ultra-violet;
  height: 100vh;
  &__container{
    background-color: #adadad;
    height: calc(100vh - 9.3rem);
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "task comment";
  }
  &__anchor{
    &-header{
      // height: 110%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &-task{
      grid-area: task;
      overflow-y: scroll;
      height: calc(100vh - 9.3rem);
      // width: 50%;
      overflow-x: hidden;
      // min-width: 310px;
    }
    &-comment{
      grid-area: comment;
      overflow-y: scroll;
      // width: 40%;
      height: calc(100vh - 9.3rem);
      // min-width: 310px;
    }
    &-footer{
      z-index: 1000;
      height: 3rem;
      position: absolute;
      width: 100vw;
      bottom: 0px;
      display: flex;
      justify-content: flex-end;
      background-color: #4d4d4d;
      span {
        font-size: 2.2rem;
        font-family: 'Dancing Script', cursive;
        margin-right: 2rem;
      }
    }
  }
  &__header{
    &-norm{
      display: flex;
      justify-content: space-between;
      padding: 0.2rem;
      height: 7rem;
      &-btns{
        display:flex;
        align-items: center;
        *{
          margin: 0.2rem;
        }
      }
    }
    &-label{
      display: flex;
      padding: 0.3rem;
      justify-content: flex-end;
      background-color: $ultra-violet;
      &-plus{
        justify-self: flex-start;
      }
      * {
        margin-left: 0.2rem;
        margin-right: 0.2rem;
      }
      &-anchor {
        display: flex;
      }
    }
  }
  &__title {
    font-size : 3rem;
  }
}

.label-single__container{
    background-color: #4d4d4d;
    padding: 0.1rem;
    border-radius: 0.4rem;
}

.task {
  &-index{
    &__content{
      background-color: #7e7e7e;
      padding: 0.1rem;
      border-radius: 1rem;
      margin: 0.4rem;
      display: flex;
      justify-content: space-between;
    }
    &__title{
      font-size: 1.8rem;
      padding-left: 0.1rem;
    }
    &__update{
      vertical-align:bottom;
      font-size: 0.5rem;
      padding-right: 0.4rem;
      margin-top: 1.5rem;
    }
  }
  &-project {
    &__label {
      margin-left: 0.8rem;
      border-radius: 0.5rem;
      padding: 0.3rem;
      background-color: rgb(126, 126, 126);
    }
    &__label:empty{
      display: none;
    }
    &__content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      // width: 100%;
      padding-left: 1.2rem;
      padding-right: 1.2rem;
      margin-top: 0.4rem;
      margin-bottom: 0.4rem;
      background-color: #4d4d4d;
    }
    &__info{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    &__title{
      font-size: 2rem;
    }
    &__delete-btn, &__option-btn {
      margin-left: 0.6rem;
    }
    &__username, &__due, &__begin, &__update {
      font-size: 0.8rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}


.comment{
  &__form{
    display: flex;
    justify-content: flex-end;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    *{
      margin: 0.1rem;
    }
  }
  &-content{
    &__container{
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
      background-color: #4D4D4D;
    }
    &__delete-btn {
      margin-left: 0.5rem;
    }
  }
  &__input{
    width: 100%;
    padding-left: 0.3rem;
  }
}


.label__content {
  margin: 10px;
}

.deleteAccount-container {
  display: flex;
  // flex-direction: column;
  align-items: center;
}


// under!!! must under!!! 

.hidden {
  display: none;
  width: 0vw;
  height: 0vh;
}

.covering {
  background-color: rgb(131, 131, 131);
  color: rgb(151, 151, 151);
  * {
    background-color: rgb(131, 131, 131);
  }
}

.decover {
  background-color: rgba(245,245,245,0.8);
  padding: 2rem;
  border-radius: 2rem;
}

.fontColorBlack {
  color: black;
}

